<div class="main-container">
  <!-- Aside -->
  <div class="aside-container">
    <div class="aside-logo-container">
      <img src="./assets/logo/logo-coink.PNG" alt="logo">
    </div>
    <div style="text-align: center;">
      <img src="./assets/images/user-circle.PNG" class="aside-img" alt="">
      <p class="user-text"><fa-icon [icon]="faLock"></fa-icon> Jeff</p>
      </div>
      <hr class="line">
      <div class="aside-list">
        <p>Tarjetas Visa en dispensadores</p>
        <p>Crear dispensador</p>
        <p>Monitorear y editar dispensadores</p>
        <p>Solicitud tarjetas</p>
      </div>
  </div>
  <div class="content-container">
    <!-- Navbar -->
    <nav class="navbar">
      <div class="icon-container">
        <fa-icon [icon]="faBars" class="icon"></fa-icon>
      </div>
      <h2>BACKOFFICE</h2>
      <div class="icon-container">
        <fa-icon [icon]="faUserCircle" class="icon"></fa-icon>
      </div>
    </nav>
    <!-- Asidebar -->
    <div class="main-content">
      <!-- breadcumb -->
      <header>
        <h1>SOLICITUD TARJETAS</h1>
      </header>
      <p>
        <fa-icon [icon]="faSearch"></fa-icon> Buscar
      </p>
      <div class="inputs-container">
        <div class="input-box">
          <label for="">Nombre</label>
          <mat-form-field class="example-full-width" appearance="fill">
            <input matInput #inputName>
          </mat-form-field>
        </div>
        <div class="input-box">
          <label for="">Tipo de personaje</label>
          <mat-form-field class="example-full-width" appearance="fill">
            <input matInput #inputType>
          </mat-form-field>
        </div>
      </div>
      <button class="btn-clean">Limpiar Filtros</button>
      <button (click)="search(inputName.value, inputType.value)" class="btn-search">Buscar</button>
      <div style="text-align: right;">
        <button class="btn-clean">Solicitar Tarjetas</button>
      </div>
      <div *ngIf="error === false; else elseBlock">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <!-- Position Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef style="background-color: #004B40; color: #FFF;"> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
  
          <!-- Name Column -->
          <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef style="background-color: #004B40; color: #FFF;"> Gender </th>
            <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
          </ng-container>
  
          <!-- Weight Column -->
          <ng-container matColumnDef="species">
            <th mat-header-cell *matHeaderCellDef style="background-color: #004B40; color: #FFF;"> Species </th>
            <td mat-cell *matCellDef="let element"> {{element.species}} </td>
          </ng-container>
  
          <!-- Symbol Column -->
          <ng-container matColumnDef="created">
            <th mat-header-cell *matHeaderCellDef style="background-color: #004B40; color: #FFF;"> Created </th>
            <td mat-cell *matCellDef="let element"> {{element.created | date: 'longDate'}} </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <ng-template #elseBlock>
        <p class="error-container">No hay resultados</p>
      </ng-template>
    </div>
  </div>
</div>